<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.labsterx.app.startupwatch"
        versionCode = "3" 
        version     = "0.3.0" >

    <name>Startup Watch</name>

    <description>
        This mobile app provides information on startup companies around the world, including startup company profiles, startup job search etc. The information is provided by AngelList (https://angel.co).
    </description>

    <author email="labsterx@gmail.com" href="http://www.labsterx.com/">
      LabsterX
    </author>

    <content src="index.html" />
    
    <icon src="app_icon.png" />

    <access origin="*" />
    
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    
    <feature name="StatusBar">
      <param name="ios-package" value="CDVStatusBar" onload="true" />
    </feature>
    
    <gap:plugin name="org.apache.cordova.inappbrowser" version="0.1.0" />
    <feature name="InAppBrowser">
        <param name="android-package" value="org.apache.cordova.inappbrowser.InAppBrowser" />
    </feature>
    <feature name="InAppBrowser">
        <param name="ios-package" value="CDVInAppBrowser" />
    </feature>
    <feature name="InAppBrowser" />

    <preference name="permissions" value="none"/>

</widget>
