<ion-view title="Job">
  
  <ng-include src="'js/components/header.html'"></ng-include>  
    
  <ion-content class="has-header">


  <div class="list details-section">


    <div class="item item-body details-body">

      <!-- Job Title -->
      <div class="details-title">{{job.title}}</div>

      <!-- Startup Name -->
      <div ng-show="job.startup.name">
        <strong>Company: </strong>
        <a class="no_underline" ng-href="#/app/startup/{{job.startup.id}}">
          <span class="info-tag tag-company">{{job.startup.name}}</span>
        </a>
      </div>

      <!-- Location -->
      <div ng-show="job.job_locations.length">
        <strong>Location: </strong>
        <a class="no_underline" class="no_underline"ng-repeat="location in job.job_locations" ng-href="#/app/jobs/tag/{{location.id}}">
          <span class="info-tag tag-location" >{{location.display_name}}</span>
        </a>
      </div>

     <!-- Job Role -->
      <div ng-show="job.job_roles.length">
        <strong>Role: </strong>
        <span class="info-tag" ng-repeat="role in job.job_roles">
            {{role.display_name}}
         </span>
      </div>

      <!-- Job Salary -->
      <div ng-show="(job.salary_min || job.salary_max) || (job.equity_min || job.equity_max)">
        <span ng-show="job.salary_min || job.salary_max">
          <strong>Salary:</strong>
          {{job.currency_code}} {{job.salary_min}} - {{job.salary_max}} &nbsp;
        </span>
        <span ng-show="job.equity_min || job.equity_max">
          <strong>Equity:</strong>
          {{job.equity_min}}% - {{job.equity_max}}%
        </span>        
      </div> 

      <div ng-show="!!job.job_skills.length">
        <strong>Skills:</strong>
        <div>
          <a class="no_underline" href="#/app/jobs/tag/{{skill.id}}" ng-repeat="skill in job.job_skills">
          <span class="info-tag tag-skill" >{{skill.display_name}}</span>
          </a>
        </div>
     </div>

      <div ng-show="!!job.startup.product_desc">
        <strong>About {{job.startup.name}}:</strong>
        <div>
          <p>
            <a ng-show="job.startup.thumb_url" ng-href="#/app/startup/{{job.startup.id}}">
              <img class="job-company-logo" ng-src="{{job.startup.thumb_url}}">
            </a>
            {{job.startup.product_desc}}</p>           
        </div>
      </div>

    </div>

    <div class="item tabs tabs-secondary tabs-icon-left">

      <a ng-show="!!job.startup.company_url" class="tab-item" ng-click="openNewBrowser(job.startup.company_url)">
          <i class="icon icon-link ion-android-earth"></i> Comapany Site
      </a>

      <a ng-show="!!job.startup.twitter_url" class="tab-item" ng-click="openNewBrowser(job.startup.twitter_url)">
          <i class="icon icon-link ion-social-twitter"></i> Twitter
      </a>

      <a ng-show="!!job.startup.blog_url" class="tab-item" ng-click="openNewBrowser(job.startup.blog_url)">
          <i class="icon icon-link ion-social-rss"></i> Blog
      </a>

    </div>

    </div>

  </ion-content>
</ion-view>
