<ion-view title="">
  
  <ng-include src="'js/components/header.html'"></ng-include>  

  <ion-content class="has-header image_background_section">
  
  	<!-- logo -->
  	<div style="text-align:center">
  		<img src="img/logo.png"  style="max-width: 100%; padding: 28px" />
  	</div>

  	<div 

  	<!-- Search Type Switch -->
    <div class="row search_type_switch">
    	<div class="col" ng-click="changeSearchType('startup')">
    		<div class="search_type_select" ng-class="{'search_type_select_active': search_type == 'startup'}">
    			Startups
    		</div>
    	</div>
    	<div class="col" ng-click="changeSearchType('job')">
    		<div class="search_type_select" ng-class="{'search_type_select_active': search_type == 'job'}">
    			Jobs
    		</div>
    	</div>
    </div>    
  
  	<!-- Startup Search -->
  	<div ng-show="search_type == 'startup'" style="margin-bottom: 200px">

    	<div class="search_input_box">
			<label class="item item-input">
				<i class="icon ion-search placeholder-icon"></i>
				<input type="text" placeholder="Search" ng-model="startupSearch.query">
			</label>
			<i ng-show="startupSearch.query" class="icon ion-close-circled placeholder-icon input-clear-icon" ng-click="clearStartupSearch()"></i>
		</div>
		<div class="search-button-group">
			<button class="button button-dark" ng-disabled="!startupSearch.query" ng-click="doStartupSearch('Startup')">
	  			Name Search
			</button>
			<button class="button button-dark" ng-disabled="!startupSearch.query" ng-click="doStartupSearch('LocationTag')">
	  			Location Search
			</button>
			<button class="button button-dark" ng-disabled="!startupSearch.query" ng-click="doStartupSearch('MarketTag')">
	  			Market Search
			</button>
		</div>


		<div class="card" ng-show="no_startup_results">
		  <div class="item item-text-wrap">
		    Sorry, no results. Please try again.
		  </div>
		</div>	

		<div class="list card search_result_list" ng-show="!!startupResults.length">
	      <div class="item item-icon-left item-icon-right" ng-repeat="result in startupResults" ng-click="showSearchResult(result)">
	      	<i class="icon {{result.icon}}"></i>
	        {{result.name}}
	        <i class="icon ion-ios7-arrow-right"></i>
	      </div>
		</div>

	</div>

	<!-- Job Search -->
	<div ng-show="search_type == 'job'" style="margin-bottom: 100px">

    	<div class="search_input_box">
			<label class="item item-input">
				<i class="icon ion-search placeholder-icon"></i>
				<input type="text" placeholder="Search" ng-model="jobSearch.query">
			</label>
			<i ng-show="jobSearch.query" class="icon ion-close-circled placeholder-icon input-clear-icon" ng-click="clearJobSearch()"></i>	
		</div>

		<div class="search-button-group">
			<button class="button button-dark" ng-disabled="!jobSearch.query" ng-click="doJobSearch('LocationTag')">
	  			Search by Location
			</button>
<!-- 			<button class="button button-dark" ng-disabled="!jobSearch.query" ng-click="doJobSearch('Startup')">
	  			Search by Company
			</button> -->
		</div>


		<div class="card" ng-show="no_job_results">
		  <div class="item item-text-wrap">
		    Sorry, no results. Please try again.
		  </div>
		</div>	

		<div class="list card search_result_list" ng-show="!!jobResults.length">
	      <a href="{{result.localLink}}" class="item item-icon-left item-icon-right" ng-repeat="result in jobResults" >
	      	<i class="icon {{result.icon}}"></i>
	        {{result.name}}
	        <i class="icon ion-ios7-arrow-right"></i>
	      </a>
		</div>

	</div>





  </ion-content>
</ion-view>
