/* Empty. Add your own CSS if you like */

/* general */
.italic {
	font-style:italic;
}

.pull-right {
	float:right;
}

.bg-gray {
	background-color: #EDEDED;
}

.page-title {
	margin-top: 10px !important;
	margin: 8px auto;
	text-align: center;
}

.search-type, .info-tag {
	font-size: 0.90em;
	background-color: #D3EFFF;
	padding: 2px 5px;
	margin-left: 2px;
	margin-right: 2px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;	
}

.info-tag a {
	text-decoration: none;
	color: #444;
}

.company-profile {
	padding: 20px;
}

.company-profile div {
	margin-top: 5px;
	margin-bottom: 5px;
}

.company-profile label {
	font-weight: bold;
}

/* list */

.list-item-title {
	font-weight: bold;
	font-size: 1.0em;
}

.list-item-title i.icon {
	color: #CCC;
	font-size: 1.5em;
}

.list-item-content {
	font-size: 0.90em;
}

.list-item-small {
	font-size: 0.80em !important;
}

