<ion-view title="Startup Lists">

  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <ion-content class="has-header">

    <div class="list" ng-show="!!startups.length">
      <div class="item item-icon-left item-icon-right"  style="top: 10px; left: 10px; right: 10px;" collection-repeat="startup in startups" collection-item-width="'100%'" collection-item-height="60">
        
          <i class="icon ion-document-text"></i>
          <a href="#/app/startup/{{startup.id}}" style="text-decoration: none; color: #444">{{startup.name}}</a>
        
          <span class="info-tag" ng-repeat="location in startup.locations">
              <a href="#/app/startups/tag/{{location.id}}">{{location.display_name}}</a>
          </span>

          <i class="icon ion-ios7-arrow-right"></i>

      </div>
    <div>

    <ion-infinite-scroll ng-if="!!meta.page && meta.page < meta.last_page" icon="" on-infinite="loadStartups()" distance="1%">
    </ion-infinite-scroll>
    
  </ion-content>

</ion-view>
