<ion-view title="Startup Profile">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">

  <div class="list card">

  	<div class="item details-header">
  		<div class="details-title">{{startup.name}}</div>
  	</div>

  	<div class="item item-body details-body">

 		<div ng-show="startup.logo_url">
	    	<img class="details-logo" ng-src="{{startup.logo_url}}" />
	    </div> 

	    <div ng-show="!!startup.locations.length">
	    	<strong>Location:</strong> 
	    	<span class="info-tag" ng-repeat="location in startup.locations" >
	    		<a href="#/app/startups/tag/{{location.id}}">{{location.display_name}}</a>
	    	</span>
	    </div>	

	    <div ng-show="!!startup.company_type.length">
	    	<strong>Company Type:</strong>
	    	<span class="info-tag" ng-repeat="company_type in startup.company_type">
	    		{{company_type.display_name}}
	    	</span>
	    </div>	

	    <div ng-show="!!startup.markets.length">
	    	<strong>Markets:</strong>
	    	<span class="info-tag" ng-repeat="market in startup.markets">
	    		<a href="#/app/startups/tag/{{market.id}}">{{market.display_name}}</a>
	    	</span>
	    </div>	

	    <div ng-show="!!startup.company_size">
	    	<strong>Company Size:</strong>
	    	<span>
	    		{{startup.company_size}}
	    	</span>
	    </div>	

	    <div ng-show="!!startup.product_desc" style="margin-bottom: 10px">
	    	<strong>About:</strong>
	    	<p class="details-tagline" ng-show="startup.high_concept">
        		{{startup.high_concept}}
        	</p>  
	    	<p ng-show="!!startup.product_desc">{{startup.product_desc}}</p>
	    </div>  

	    <div ng-show="!!startup.status">
	    	<strong>Status:</strong> <span class="text-small italic">({{startup.status.created_at | date: 'mediumDate'}})</span>
	    	<p>{{startup.status.message}}</p>
	    </div>  

	    <div ng-show="!!startup.screenshots.length">
	    	<strong>Screenshots:</strong>
	    	<div class="details-screenshot" ng-repeat="screenshot in startup.screenshots">
	    		<img ng-src="{{screenshot.thumb}}" />
	    	</div>
	    </div>  	    	    

  	</div>

  	<div class="item tabs tabs-secondary tabs-icon-left">

  		<a ng-show="!!startup.company_url" class="tab-item" href="{{startup.company_url}}">
      		<i class="icon icon-link ion-android-earth"></i> Website
    	</a>

   		<a ng-show="!!startup.twitter_url" class="tab-item" href="{{startup.twitter_url}}">
      		<i class="icon icon-link ion-social-twitter"></i> Twitter
    	</a>

   		<a ng-show="!!startup.blog_url" class="tab-item" href="{{startup.blog_url}}">
      		<i class="icon icon-link ion-social-rss"></i> Blog
    	</a>

  </div>

  </ion-content>
</ion-view>
