<ion-view title="Startup Lists">

  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <ion-content class="has-header bg-gray">

    <div class="list">
      
      <item class="item item-thumbnail-left" href="#/app/startup/{{startup.id}}" style="top: 10px; left: 10px; right: 10px;" collection-repeat="startup in startups" collection-item-width="'100%'" collection-item-height="150" ng-click="showStartupPage(startup)">
      
      <img ng-show="startup.thumb_url" src="{{startup.thumb_url}}" />

      <div>
        <!-- company name -->
        <span class="list-item-title">{{startup.name}}</span>
      </div>


        
       <div class="list-item-content">
          <!-- High Concept -->
          <p ng-show="startup.high_concept">
          {{startup.high_concept}}
          </p>

        <p ng-show="startup.locations.length">
          <strong>Location:</strong> 
          <span class="info-tag" ng-show="startup.locations.length" ng-repeat="location in startup.locations">
            <a href="#/app/startups/tag/{{location.id}}">{{location.display_name}}</a>
          </span>
          </span>
        </p>

        <p ng-show="startup.company_size || startup.created_at">
          <span ng-show="startup.company_size">
          <strong>Size:</strong> 
            {{startup.company_size}}
          </span>
          <span ng-show="startup.created_at" class="list-item-small italic pull-right">
            {{startup.created_at | date: 'mediumDate'}}
          </span>
        </p>

      </div>

    

    </item><!-- /item -->


    <ion-infinite-scroll ng-if="!!meta.page && meta.page < meta.last_page" icon="" on-infinite="loadStartups()" distance="1%">
    </ion-infinite-scroll>
    
  </ion-content>

</ion-view>
